<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>성남시 공공도서관 AR서비스</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/board.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>
	<div class="nav">
		<div class="logo">ADMIN</div>
		<ul>
			<li>
				<span class="material-symbols-outlined">list_alt</span>
				<a th:href="@{/admin}">화상교육</a>
			</li>
			<li class="on">
				<span class="material-symbols-outlined">monitoring</span>
				<a th:href="@{/ar}">AR 이용통계</a>
			</li>
			<li>
				<span class="material-symbols-outlined">touch_app</span>
				<a th:href="@{/center}">돌봄센터 관리</a>
			</li>
			<li>
				<span class="material-symbols-outlined">group</span>
				<a th:href="@{/satisfaction}">이용자 만족도</a>
			</li>
		</ul>
	</div><!-- //nav -->


	<div class="section">
		<div class="header">
			<button type="button" onclick="logOut()">로그아웃</button>
		</div>
		<div class="inner">
			<h1>AR 이용 통계</h1>

			<div class="cal_box">
				<div id="calendarForm"></div>
			</div><!-- //cal -->

			<div class="chart">
				<h2>
					<span class="year_mon2"> </span>
					<span class="total" th:text="${co}"></span>
				</h2>


				<canvas id="myChart"></canvas>


			</div>
			<!--// inner -->


		</div><!-- //section -->
</body>
<script>
	let modal = document.getElementsByClassName("popup_layer")[0];
	let btn_open = document.getElementsByClassName("btn_save")[0];
	let btn_close = document.getElementsByClassName("btn_close")[0];

	btn_close.onclick = function () {
		modal.style.display = "none";

	}

	btn_open.onclick = function () {
		modal.style.display = "none";

	}



	function linkOpen() {
		modal.style.display = "block";
	}




</script>
<script>

	$(function () {
		calendarMaker($("#calendarForm"), new Date());
	});

	var nowDate = new Date();
	function calendarMaker(target, date) {
		if (date == null || date == undefined) {
			date = new Date();
		}
		nowDate = date;
		if ($(target).length > 0) {
			var year = nowDate.getFullYear();
			var month = nowDate.getMonth() + 1;
			$(target).empty().append(assembly(year, month));
		} else {
			console.error("custom_calendar Target is empty!!!");
			return;
		}

		var thisMonth = new Date(nowDate.getFullYear(), nowDate.getMonth(), 1);
		var thisLastDay = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, 0);
		var tag = "<tr>";
		var cnt = 0;
		//빈 공백 만들어주기
		for (i = 0; i < thisMonth.getDay(); i++) {
			tag += "<td></td>";
			cnt++;
		}

		//날짜 채우기
		for (i = 1; i <= thisLastDay.getDate(); i++) {
			if (cnt % 7 == 0) {tag += "<tr>";}

			tag += "<td>" + i + "</td>";
			cnt++;
			if (cnt % 7 == 0) {
				tag += "</tr>";
			}
		}
		$(target).find("#custom_set_date").append(tag);
		calMoveEvtFn();

		function assembly(year, month) {
			var calendar_html_code =
				"<table class='custom_calendar_table'>" +
				"<colgroup>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"<col style='width:81px'/>" +
				"</colgroup>" +
				"<thead class='cal_date'>" +
				"<th><button type='button' class='prev'><</button></th>" +
				"<th colspan='5'><p style='font-size:30px;'><span style='font-size:30px;'>" + year + "</span>년 <span style='font-size:30px;'>" + month + "</span>월</p></th>" +
				"<th><button type='button' class='next'>></button></th>" +
				"</thead>" +
				"<thead  class='cal_week'>" +
				"<th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th>" +
				"</thead>" +
				"<tbody id='custom_set_date'>" +
				"</tbody>" +
				"</table>";

			return calendar_html_code;

		}

		function calMoveEvtFn() {
			let modal = document.getElementsByClassName("popup_layer")[0];

			//전달 클릭
			$(".custom_calendar_table").on("click", ".prev", function () {
				nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() - 1, nowDate.getDate());
				calendarMaker($(target), nowDate);
				//location.href='ar'+'?'+'date='+String(year)+'-'+String(month)
				
			});
			//다음날 클릭
			$(".custom_calendar_table").on("click", ".next", function () {
				nowDate = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, nowDate.getDate());
				calendarMaker($(target), nowDate);
			});
			//일자 선택 클릭
			$(".custom_calendar_table").on("click", "td",
				function () {
					var x = $(this).text();
					$(".custom_calendar_table .select_day").removeClass("select_day");
					$(this).removeClass("select_day").addClass("select_day");
					if (x < 10) {
						x = String(0) + String(x);
					}
					const date = String(year) + "-" + String((month)) + "-" + String(x);
					
					scr_width = screen.availWidth;
					scr_height = screen.availHeight;
					
					window.open('popup'+'?'+'date='+date, 'popup',
						'top=300, left=500, width=1000, height=400, status=no, menubar=no, toolbar=no, resizable=no');
				});
				
			const tt =String(year) + "-" + String((month));
		
					
			$(".year_mon2").text(year + "년 " + (month) + "월 이용자 수 : ");

		}


	}

</script>
<script>
	function logOut() {
		var logout = confirm("로그아웃 하시겠습니까?");

		if (logout) {
			$.ajax({
				method: 'POST',
				url: '/logout'



			})
			location.replace('/login');
		}
		else {
			location.reload();
		}

	}
</script>
<script type="text/javascript">

	$(document).ready(function () {
		getGraph();
	});

	function getGraph() {
		let timeList = ['1','','','','5','','','','',
		'10','','','','','15','','','','','20','','','','','25'
		,'','','','','30'];
		let posList = ['','','','','','','','','',
		'','','','','','','','','','','','','','','',''
		,'','','','',''];

		$.ajax({
			type: "GET",
			url: "/monthAll",
			data: {},
			dataType: "json",
			success: function (data) {

				for (let i = 0; i < data.length; i++) {
					if(data[i].now=="2022-10-05"){
					
					}
					else if(data[i].now=="2022-10-06"){
						
					}
				}
				// console.log(timeList);
				// console.log(posList);  	
				// 그래프
				new Chart(document.getElementById("myChart"), {
					type: 'bar',
					data: {
						labels: timeList, // X축 
						datasets: [{
							label:"이용자수",
							data: posList, // 값
							backgroundColor: 'green',
							fill: false
						}
						]
					},
					options: {

					}
				}); //그래프
			},
		

		}) // ajax	  
	} // getGraph

</script>


</html>