<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>성남시 공공도서관 AR서비스</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/board.css" />
    <link rel="stylesheet" type="text/css" href="css/color.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/date.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
    <div class="login_box">
        <div class="login">
            <h1>공공도서관 AR 서비스 운영 관리</h1>
            
            <ul>
                <li><label for="login_id">아이디</label>
                    <input type="text" id="login_id" placeholder="아이디를 입력하세요." autocomplete="off" autofocus /></li>
                <li><label for="login_pw" onclick="gara()">비밀번호</label>
                    <input type="password" id="login_pw" placeholder="비밀번호를 입력하세요." autocomplete="off"></li>
                </ul>
            <button type="submit" class="btn btn-primary" onclick = "dataSend()">로그인</button>
        
        </div>
    </div>
</body>

<script>
	

	function dataSend() {
		var UID = $("#login_id").val();
		var PSWD = $("#login_pw").val();
		
		
		
		if (UID == "" || PSWD=="") {
			alert("아이디 또는 비밀 번호를 입력해주세요")
			return 0;
		}
		

   
  //  var hash = CryptoJS.MD5(PSWD); // 원하는 알고리즘으로 선택
   PSWD=btoa(PSWD);

   
   // var key = CryptoJS.enc.Utf8.parse(PSWD);
   // var base64 = CryptoJS.enc.Base64.stringify(key);
  
   // var decrypt = CryptoJS.enc.Base64.parse(base64);
   // var hashData = decrypt.toString(CryptoJS.enc.Utf8);
   
    
    
			var LoginDto = JSON.stringify({
				UID : UID,
				PSWD : PSWD
			});


			$.ajax({
				method: 'POST',
				url: '/login',
				headers: {'Content-type': 'application/json'},
				data: LoginDto,
				success: function (data){
				if(data==1){
				setTimeout("location.href='/admin'", 1000);
				}	
				else if(data==2){
					alert("아이디 혹은 비밀 번호가 틀렸습니다 5회 오류시 1분 동안 로그인이 제한됩니다")
				}
				else if(data==3){
					alert("5회 오류로 로그인이 1분 제한됩니다")
				}
				
				}
				});
				
				
		}
			

</script>

</html>
