<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>성남시 공공도서관 AR서비스</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/board.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>
	
	
	
		 <!-- 돌봄센터 등록 -->
        <div class="popup_layer">
            <div class="popup_box">
                <h1>돌봄센터 수정
                    <button type="button" class="btn_close"><span class="material-symbols-outlined">close</span></button>
                </h1>
                <div class="tablebox">
                    <table class="table_listview">
                        <colgroup>
                            <col width="120px">
                            <col width="auto">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>센터명*</th>
                                <td><input type="text" th:value="${view[0].CENTER_TTL}" id="CENTER_TTL" class="input_100per" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <th>센터코드*</th>
                                <td><input type="text" th:value="${view[0].CENTER_ID}" id="CENTER_ID" class="input_100per" style="border: none; background: gray;" readonly/></td>
                            </tr>
                            <tr>
                                <th>담당자ID*</th>
                                <td><input type="text" th:value="${view[0].CENTER_UID}" id="CENTER_UID" class="input_100per" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <th>비밀번호*</th>
                                <td><input type="password" th:value="${view[0].CENTER_PSWD}" id="PSWD" class="input_100per" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인*</th>
                                <td><input type="password" th:value="${view[0].CENTER_PSWD}" id="CENTER_PSWD" class="input_100per" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <th>돌봄 아동 수*</th>
                                <td><input type="number" th:value="${view[0].CENTER_MAX_NOPE}" id="CENTER_MAX_NOPE" class="input_200">명</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="btn">
                    <button type="button" class="btn_delete">취소</button>
                    <button type="button" class="btn_save" onclick="dataSend()">수정</button>
                </div>
            </div>
        </div><!--// popup -->

	
</body>
<script>
	let modal = document.getElementsByClassName("popup_layer")[0];
	
	let btn_close = document.getElementsByClassName("btn_delete")[0];

	btn_close.onclick = function () {
		window.close();

	}



</script>
<script>
function dataSend() {
		var result = confirm("수정하시겠습니까?");
		if(result){
		var CENTER_TTL = $("#CENTER_TTL").val();
		var CENTER_ID = $("#CENTER_ID").val();
		var CENTER_UID = $("#CENTER_UID").val();
		var CENTER_PSWD = $("#CENTER_PSWD").val();
		var CENTER_MAX_NOPE = $("#CENTER_MAX_NOPE").val();
		
		
		

		if (CENTER_TTL == "") {
			alert("제목을 필수로 입력하세요")
		}
		
			var CenterDto = JSON.stringify({
				CENTER_TTL: CENTER_TTL,
				CENTER_ID: CENTER_ID,
				CENTER_UID: CENTER_UID,
				CENTER_PSWD: CENTER_PSWD,
				CENTER_MAX_NOPE: CENTER_MAX_NOPE,
			});


			$.ajax({
				method: 'POST',
				url: '/center-update',
				headers: {'Content-type': 'application/json'},
				data: CenterDto,
				   success: function (data) {
		
					opener.location.reload();

           window.close();

        }

			})
		}
		
	}

</script>



</html>